#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vw;
}

.border_buttons {
    margin: 0 1vw 0 1vw;
}

#buttons select {
    background-color: lightgray;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 2vw;
    border: none;
    text-align: center;
    font-size: 1vw;
}

.arrow {
    background-color: lightgray;
    padding: 0.5vw 1.5vw 0.5vw 1.5vw;
    border-radius: 2vw;
}

.arrow_text {
    font-weight: bold;
    color: black;
}


#data {
    text-align: center;
    margin-bottom: 2vw;
    font-family: 'Arvo';
}


#slides {
    display: flex;
    justify-content: center;
}

#slides caption {
    font-family: "Montserrat-Bold";
    text-align: left;
    margin-bottom: 1vw;
}

#slides table {
    border-radius: 2vw;
    background-color: white;
    margin-bottom: 1vw;
    box-shadow: 0px 0px 100px 0px rgba(80, 80, 80, 0.3);
    max-width: 40vw;
}

td {
    padding: 1vw;
    text-align: center;
    border: 1px solid lightgray;
}

.border_td_1 {
    border-top-left-radius: 2vw;
}

.border_td_2 {
    border-top-right-radius: 2vw;
}

.border_td_3 {
    border-bottom-left-radius: 2vw;
}

.border_td_4 {
    border-bottom-right-radius: 2vw;
}

#slide_1 {
    margin: 0 1vw 2vw 1vw;
}

#slide_2 {
    margin: 0 1vw 2vw 1vw;
}

.header_table {
    font-family: "Montserrat-Bold";
    background-color: lightgray;
}

.number {
    border: none;
    width: 3vw;
    height: 3vw;
    font-size: 2vw;
}

.text {
    border: none;
    font-size: 1.2vw;
    width: 10vw;
}

.area {
    border: none;
    font-size: 1.2vw;
    overflow: auto;
    resize: none;
    width: 16vw;
    height: 9vw;
}